body{
    margin: auto;
    background: rgb(208, 218, 216);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow:auto;
}

.row{
    width: 70%;
}

/*  ========== footer ============ */
.pie_pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie_pagina .grupo_1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie_pagina .grupo_1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie_pagina .grupo_1 .box figure img{
    width: 250px;
}
.pie_pagina .grupo_1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie_pagina .grupo_1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie_pagina .grupo_1 .red_social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;

}
.pie_pagina .grupo_1 .red_social a:hover{
    color: aqua;
}
.pie_pagina .grupo_2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie_pagina .grupo_2 small{
    font-size: 15px;
}
@media  screen and (max-width:800px) {
    .pie_pagina .grupo_1{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
    
}
/*img_inicio*/
.img-prin{
    width: 50px;
    margin-left: 10%;
    max-height: 100px;
}


/*barra*/
.containe{
    width: 90%;
    max-width: 900px;
    margin-top: 10%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tabla {
    margin-top: 15%;
    width: 43%;
    height: 550px;
    margin: auto;
    border: 1px solid ;
    border-radius: 4px;
    box-shadow: 2px, 2px, 4px, 0px rgb(49, 46, 46);
    box-shadow:  0 0 60px rgb(38, 181, 238);
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: black;
    background: white;
    box-shadow: 5px 5px black ;
    grid-gap: 50px;
}
.containe .tabla img{
    height: 100px;
    width: 150px;
}
.tabla > h2{
    font-size: 50px;
    margin-bottom: 35px;
}
.tabla img{
    width: 64px;
    margin-bottom: 34px;
}
.tabla > h3{
    font-size: block;
    margin-bottom: 20px;
}
.tabla > h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.tabla p{
    display: block;
    margin-bottom: 20px;
}
.boton{
    display: inline-block;
    width: 150px;
    padding: 12px;
    background: greenyellow;
    text-decoration: none;
    color: black;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}
.tabla:hover{
    background: rgb(4, 10, 39);
    color: white;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}


.carousel-inner{
    max-width: 1000px;
    max-height: 1000px;
}
/*botones menus*/
.inicio{
    background-image: url('../imagenes/img_fon.jpg');
    color: white;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 7px 5px black;
 
}

.card{
    display: block;
}

/*carteles */
.contenedor1{
    display:flex;
    gap: 10px;
    margin-left: 10px;
}
.card{
    border-radius: 20px;
    padding: 10px;
    margin: 3%;

}

/*botones menus*/
.inicio{
    background-image: url('../imagenes/img_fon.jpg');
    color: white;
    text-align: center;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 7px 5px black;
}
.registro{
    margin-left: 580%;
    border-radius: 20;
    color: rgb(25, 78, 25);
}
.img{
    margin-left: 26%;
    height: 100px;
    width: 450px;
    box-shadow: 5px 4px black;
}
/*texto
.card-title{
    font-size:50px;
}
.card-text{
    font-size: 30px;
}
.card-header{
    font-size: 20px;
}
*/
/*caja de empezar*/
.caja_a{
    height: 80%;
    width: 40%;
    background:  rgb(34, 149, 202);
    border-radius: 30px;
    padding: 20px;
    border-color: rgb(34, 149, 202);
    overflow: hidden;
    box-shadow: 20px 10px black;
    margin: 10px;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.caja_a img{
    margin-top: -15%;
    height: 190px;
    width: 190px;
    margin-right: 49%;
    position: static;
}
.caja_a .empe_bot{
    margin-left: 30%;
    border-radius: 10px;
}
.caja_a p{
    margin-left: 29%;
    margin-top: 9%;
}
/*registro*/
.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    margin-top: 2%;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
  }
  .container1{
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #7fbcf1;
    border-radius: 1px solid #7bb5e7;
}

.contenedor{
    background-size: 100% 200%;
    background-repeat: no-repeat;
    
}
@media screen and(max-width:2150px){
    .tit{
        margin: auto;
    }
}
.tab{
    
    border-radius: 10px;
    background: rgb(253, 253, 253);
    overflow: hidden;
    color: rgb(3, 3, 3);
    box-shadow:  5px 5px rgb(23, 22, 24);
    text-align: center;
    width: 40%;
    height: 550px;
    margin: auto;
    border: 1px solid ;
    padding: 60px;
    grid-gap: 50px;
    position: static;
}
.tab :hover{
    background: rgb(4, 10, 39);
    color: burlywood;
    transition: .5s all;
    transform: scale(1.0);
    cursor: pointer;
    position:sticky;
}
.tit{
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    
}
.posicion{
    border-bottom: 10px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}



/*mision*/
.cont-acor{
    width: 70%;
}
.card-body{
    box-shadow: 2px 4px 30px blanchedalmond;
}
.card{
    box-shadow: 2px 2px 50px black;
    position: static;
}
.conten{
    margin-left:20%;
}


/*opinion*/
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top:90px ;
    color: rgb(19, 18, 18);
}
.container-form h2{
    margin-bottom: 17px;
    font-size: 35px;
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 36px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width:100%;
    margin-bottom: 15px;
    color:rgb(20, 20, 20);
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color:rgb(24, 22, 22);
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar a:hover{
    background: #efefef;
    cursor: pointer;
}


/*img_diagrama*/
.img-fluid{
    width: 98%;
    height: 100%;
    border-radius: 5px;
}

/*ffff*/
.conten{
    display: flex;
}


/*cart*/
.cart img{
    background: black;
    margin: 8px;
}
.cart{
    box-shadow: 10px 9px black;
}



/*img_targeta*/
.contenedor_img{
    display: inline-flex;
    background-image: url('../imagenes/fondo-verde.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 10px 10px black;
    margin: 30px;
}
.tar{
    height: 80%;
    width: 88%;
    display: inline-flex;
    background-size: 100% 100%;
}
/*servicios*/
.servicios{
    border: solid black 2px;
    box-shadow: 10px 10px 14px black;
    width: 100%;
    height: 35%;  
}
.servicios .circu{
    display: inline-block;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    grid-gap: 20vh;
    flex-wrap: wrap;
    margin-left: 3.0%;
}
.circu{
    text-align: center;
    pointer-events: painted;
    cursor: pointer;
    text-decoration: none;
    grid-gap: 20vh;
    margin-left: 40%;

}
.circum img:hover{
    background: #0a1a2a;
    transition: 4s ;
    border: solid 2px black;
    color:white;
}
.circum:hover{
    background: #0a1a2a;
    transition: 4s ;
    border: solid 2px black;
    color:white;
}
.servicios .circu img{
    cursor: pointer;
    grid-gap: 20vh;
    margin-left: 30%;
}
.servicios .circu p{
    cursor: pointer;
    grid-gap: 20vh;
    margin-left: 60%;
}
.ba{
    width: 80%;
    color: wheat;
    position: static;
}
.img_inic{
    width: 100px;
    border-radius: 20%;
}

@media  screen and (max-width:400px) {
    .servicios{
        box-shadow: 0 0 0 0;
        background-color: gray;
    }
    .servicios .circu{
    text-align: center;
    }
}
@media screen and (max-width: 1075px){
    .servicios .circu{
        grid-gap: 1%;

    }
    
}



.inicio_sesion{
    background-color: white;
    box-shadow: 5px 5px  rgb(2, 107, 121);
    border-radius: 5%;
    width: 50%;
    height: 55%;
    margin-left: 25%;
}
.inicio_sesion .inc{
    border: #0a141d 56px;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
.inicio_sesion .cargo{
    width: 30%;
    margin-left:60% ;
    border-radius: 5%;
}
.inicio_sesion .bot_in{
    margin-top: -15%;
    margin-left: 10%;
    color: #000;
    text-decoration: none;
    text-align: justify;
    background: rgb(49, 40, 40);
}
.ds{
    width: 20%;
    margin-left: 30%;
    border-radius: 5%;
}
.l{
    text-decoration: none;
}
.inicio2{
    background-color: #4d4e4c;
    height: 50%;
}
.inicio2 img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 25%;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}.inicio2 h1{
    margin-left: 41%;
    margin-top: -5%;
    color: #dbdbdb;
    box-shadow: 3px 3px white;
}



.img_dia{
    margin-top: -40%;
}
.navv{
    position:fixed;
    width: 100%;
    top:0;
    background: #24303c;
    box-shadow: 6px 6px 8px rgb(20, 19, 19);
    
}




/*Empresa*/
.Empresa{
   width: 100%;
   height: 100%;
   display: flex;
}
.Empresa .emple{
    width: 2000px;
    margin-left: 0;
    border-radius: none;
    height: 660px;
    cursor: pointer;
    box-shadow: 3px 3px 4px black;
}
.Empresa .servi{
    width: 100%;
    border-radius: none;
    height: 660px;
    cursor: pointer;
}



/*MISION Y VISION*/
.mision{
    width: 50%;
    margin-left: 45%;
    border:solid rgb(14, 13, 13);
    box-shadow: 8px 8px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mision:hover{
    background: #080808;
    cursor: pointer;
    transition: 3s;
    color: white;
}
.mimg{
    width: 27%;
    margin-left: -49%;
    margin-top: -26%;
    border: solid black;
    border-radius: 3px;
    box-shadow: 3px 3px black;
}
.vision{
    width: 50%;
    margin-left: -40%;
    border:solid rgb(14, 13, 13);
    box-shadow: 8px 8px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.vision:hover{
    background: #080808;
    cursor: pointer;
    transition: 3s;
    color: white;
}
.vimg{
    width: 30%;
    margin-left: 50%;
    margin-top: -20%;
    border: solid black;
    border-radius: 3px;
    box-shadow: 3px 3px black;
}





/*mys*/
.mys{
    display: flex;
}
.imgm{
    border-radius: 30px;
    border: solid 3px;
    box-shadow: 5px 5px black;
    width: 45%;
    grid-gap: 10vh;
    margin-left: 3%;
    margin-top: -20%;
}
.mysq{
    border: solid 4px #000;
    width: 50%;
    text-align: center;
    margin-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif  ;
    box-shadow: 6px 4px black;
}
.mysq:hover{
    background: black;
    transition: 3s;
    color: rgb(31, 22, 22);
}

.bta{
    text-decoration: none;
    color: white;
}
.bta:hover{
    text-decoration: none;
    color: white;
}
.ca{
    width: 50%;
    margin-left: 26%;
    margin-top: 5%;
}



.circop{
    width: 250px;
    height: 25 0px;
}







header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 10px 6px;
    z-index: 10;
    background:  #0a141d;
    text-align: center;
    grid-gap: 10vh;
    overflow: hidden;
}
header.abajo{
    background: #152e44;
    padding: 15px 10px;
}
header .logo{
    position: relative;
    color: #0f0f0f;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header ul li{
    list-style: none;
    grid-gap: 5vh;
}

header ul li a{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
    grid-gap: 15vh;
    text-align: center;
}

.zona1{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    text-align: center;
}
header.abajo .logo,
header.abajo ul li a{
    color: #ffffff;
}
.logo img{
    width: 160px;
}
.btn{
    margin-left: 10px;
}
.bt{
    margin-left: 40px;
}

.img_inic{
    margin-left: 80px;
}

/*carrucel*/

.carrus{
    display:inline-flex;
    width: 80%;

}
.carr img{
    width: 750px;
    height: 400px;
    margin-left: 10%;
    border-radius: 2px;
    box-shadow: 10px 8px 10px black;
    box-sizing: content-box;
}
.car{
    box-shadow: 10px 8px 10px black;
}
.pca{
    display: inline-block;
    margin: auto;
    width: 30%;
}
.pca p{
    color: #0a141d;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 30%;
    margin-top: -5%;
}
.pca .t{
    margin-left: 40%;
}
.pca .g{
    margin-left: 50%;
}







/*items*/
.ta_it{
    border-radius: 10px;
    padding: 2px;
    background: #687581;
    box-shadow: 1px 1px 1px 1px black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 80%;
    text-decoration: none;
    border-bottom: 10px 20px;
    grid-row-gap: 3vh;
    grid-gap:10px;
    border-collapse: collapse;

}
.ta_it th, td{
    border: solid 2px black;
    height: 100px;
    padding: 3px 5px;
}
.ta_it th{
    color: #000;
}
.ta_it td{
    color: #131010;
    
}
.tex_it{
    border-bottom: 20px;
    margin: auto;
    padding: 5px 6px;
    overflow: hidden;
}
.it{
    text-align: center;
}
.item{
    max-height: 100%;
}